*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul li {
  list-style: none;
}

button {
  border: none;
}

header {
  border-bottom: 1px solid #ececec;
}

.header-icon {
  margin-right: 10px;
  fill: var(--text-color);
}

:root {
  --main-font: 'Roboto';
  --accent-font: 'Raleway';
  --main-text-color: #212121;
  --text-color: #757575;
  --text-color-blue: #2196f3;
  --text-color-grey: #212121;
}

.body {
  font-family: var(--main-font);
  color: #212121;
  font-size: 14px;
  line-height: 1.9;
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  border: 1px solid red;
  margin: 0 auto;
}

section {
  padding: 94px 0;
}

.section_pb0 {
  padding-bottom: 0;
}

.row,
header nav,
.links,
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .row,
.features .row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo__text--color-blue {
  color: var(--text-color-blue);
}

.logo__text--color-grey {
  color: var(--text-color-grey);
}

.logo__text--color-white {
  color: #fff;
}

header .row {
  height: 80px;
}

header .logo {
  margin-right: 93px;
  line-height: 80px;
}

.link {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-right: 50px;
  font-family: var(--main-font);
}

.links li:nth-child(3) > a {
  margin-right: 0;
}

.contact {
  font-weight: 500;
  line-height: 80px;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-left: 50px;
  font-family: var(--main-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts li:nth-child(1) > a {
  margin-left: 0;
}

.link:focus,
.contact:focus,
.link:hover,
.contact:hover,
.contact:hover .header-icon {
  color: var(--text-color-blue);
  fill: var(--text-color-blue);
}

.hero {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../images/Img.jpg);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img.jpg);
  padding: 160px 0 240px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  font-family: var(--main-font);
  font-weight: 900;
  color: #fff;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 700px;
  margin-bottom: 30px;
}

.hero__button {
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  color: white;
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
}

.hero__button:hover {
  background: #147fd6;
}

.hiden {
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.features__box {
  width: calc((100% - 90px) / 4);
}

.features__title {
  font-family: var(--main-font);
  font-weight: bold;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-grey);
  margin-bottom: 10px;
}

.features__text {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.title-section {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.our-team {
  background: #f5f4fa;
}

.our-team-list,
.doing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cart {
  background: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.03em;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.cart-title {
  color: #212121;
  margin: 30px 0 10px 0;
}

.cart-text {
  color: #757575;
  margin-bottom: 30px;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
}

.footer .logo {
  margin-bottom: 20px;
  display: inline-block;
}

address ul li {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

address ul li a {
  color: rgba(255, 255, 255, 0.6);
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}

.tab-btn {
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  margin-right: 8px;
}

.tab-btn.active {
  background-color: #2196f3;
  color: #fff;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cart-portfolio {
  border: 1px solid #eee;
  margin-bottom: 30px;
}

.cart-portfolio-info {
  padding: 20px 24px;
  font-family: Roboto;
}

.cart-portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.cart-portfolio-text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.features__box-icon {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}

.soc {
  margin-left: 10px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.soc a {
  display: inline-block;
  text-align: center;
  line-height: 54px;
}

.soc use {
  fill: #afb1b8;
}

.soc:hover,
.soc:hover use {
  background: #2196f3;
  fill: #fff;
}

.soc-list > li:nth-child(1) {
  margin-left: 0;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.client {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.client use {
  fill: #afb1b8;
}

.client:hover,
.client:hover use {
  border-color: #2196f3;
  fill: #2196f3;
}

.wrapper-popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.wrapper-popup.open {
  opacity: 1;
  pointer-events: all;
}

.popup {
  width: 90%;
  height: 90%;
  max-width: 528px;
  max-height: 581px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}

.close-popup {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  text-align: center;
  line-height: 27px;
}

.wrapper-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 0 24px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.overlay-text {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.cart-portfolio:hover,
.cart-portfolio:hover .overlay {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.form {
  padding: 40px;
}

.title-form {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.row-form {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.row-form svg {
  position: absolute;
  top: 29px;
  left: 12px;
}
.icon-form {
  fill: #212121;
}

.row-form label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.row-form textarea,
.row-form input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 30px;
  outline: none;
}

.row-form textarea:focus-visible,
.row-form input:focus-visible {
  border-color: #2196f3;
}

.row-form textarea {
  padding-top: 12px;
  min-height: 120px;
}

.btn-form {
  width: 200px;
  height: 50px;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}

[for='agreement-conditions'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#agreement-conditions {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.form-input:hover,
.form-input:hover + svg use.icon-form,
.form-input:focus + svg use.icon-form {
  fill: #2196f3;
  border-color: #2196f3;
}

.i-agree {
  position: relative;
  margin-left: 30px;
}

.i-agree::after {
  position: absolute;
  content: '';
  top: -1px;
  left: -22px;
  width: 15px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
}

#agreement-conditions:checked + .i-agree::after {
  border-color: #2196f3;
  background: url(../images/check.svg) no-repeat;
  background-position: center;
}
